ipykernel==6.28.0                             
jupyterlab-server==2.25.1                     
jupyter-console==6.6.3             
qtpy==2.4.1            
qtconsole==5.5.1                         
jupyter-server==2.14.1          
requests==2.32.2              
jupyterlab==4.0.11                 
matplotlib==3.8.4       
ipython==8.25.0            
argon2-cffi-bindings==21.2.0              
jupyter-events==0.10.0              
nbconvert==7.10.0  
scipy==1.15.2     
scikit-learn==1.6.1
# conda==25.1.1
conda-libmamba-solver>=24.11.0 
numpy==1.26.4
xgboost==2.1.4  
pandas==2.2.3
pip==24.0